.patient_info {
    display: grid;
    grid-template-columns: 200px 250px;
    font-size: 16px;
    gap: 12px 40px;
    justify-self: end;
}

.patient_info div {
    display: flex;
    width: fit-content;
    gap: 0.5rem;
    align-items: center;
    font-weight: 500;
}

.patient_info label {
    color: #94979b;
}

.patient_info span {
    font-weight: 600;
    color: #1e2638;
}
